# My Data Science Notebook

## Introduction

Welcome to my Data Science notebook! In this notebook, I will explore various concepts and techniques in the field of data science.

## Data Science Languages

- Python
- R
- SQL
- Julia

## Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

## Data Science Tools

| Tool        | Description                 |
|-------------|-----------------------------|
| Jupyter     | Interactive notebooks      |
| TensorFlow  | Machine learning framework  |
| Tableau     | Data visualization tool    |
| Spark       | Big data processing engine |

## Arithmetic Expression Examples

Let's explore some basic arithmetic operations using Python.

In [1]:
# Multiplication
result_multiply = 5 * 8
result_multiply

40

In [2]:
# Addition
result_addition = 10 + 15
result_addition

25

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives

1. Explore fundamental data science concepts.
2. Practice using various data science tools.
3. Understand and perform basic arithmetic operations in Python.

## Author

- Adarsh srivathsa M S